<div class="mt-4 container">
  <div class="row">
    {{#each courses}}
    <div class="col-sm-6 col-lg-4">
      <div class="card" style="width: 18rem;">
        <a href="/courses/{{this.slug}}">
          <img class="card-img-top" src={{this.thumbnail}} alt={{this.name}}>
        </a>
        <div class="card-body">
          <a href="/courses/{{this.slug}}">
            <h5 class="card-title">{{this.name}}</h5>
          </a>
          <p class="card-text">{{this.desc}}</p>
          <h6>Created at: {{this.createdAt}}</h6>
          <h6>Updated at: {{this.updatedAt}}</h6>
          <h5>Level: {{this.level}}</h5>
          <a href="#" class="btn btn-primary">Học</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>